.App {
    text-align: center;
    font-family: Arial, sans-serif;
}


body {
    background-image: url('background.jpg');
    background-size: cover; /* התאמה של גודל התמונה לגודל החלון */
    background-position: center; /* מיקום התמונה במרכז המסך */
    background-color: #393b38;
    color: white;
}

h1 {
    color: white;
}

input[type="number"] {
    width: 50px;
    margin: 5px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* הוסף אפקט צל לכפתורים */
    transition: background-color 0.3s ease; /* הוסף אנימציה חלקה לשינוי צבע הרקע */
}

button:hover {
    background-color: #0056b3;
}

.board {
    display: inline-block;
    border: 10px solid #333;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* הוסף אפקט צל ללוח המשחק */
    background-color: #393b38;
    /*background-image: url('board.jpg'); !* כתובת ה-URL של קובץ התמונה שתשמש כרקע *!*/
    /*background-size: cover; !* התאמה של גודל התמונה לגודל החלון *!*/
    /*background-position: center; !* מיקום התמונה במרכז המסך *!*/
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 1px;
    border: 1px solid white;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* הוסף אנימציה חלקה לשינוי צבע הרקע */
}

.player-one {
    background-color: #ff3333;
}

.player-two {
    background-color: #33cc33;
}

.message {
    margin-top: 20px;
}

.message p {
    font-size: 1.2em;
}

.statistics {
    color: white;
    font-size: 1.2em;
    margin-top: -15%;
    margin-right: 50%
}

.message button {
    margin-top: 10px;
    background-color: #333; /* שנה צבע לכפתור */
    color: white; /* שנה צבע לטקסט */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* הוסף אפקט צל לכפתור */
}

.message button:hover {
    background-color: #555; /* שנה צבע בעת העטלפות */
}


